.vagrant/
/vendor
/node_modules
/vue/admin/node_modules
Homestead.yaml
Homestead.json
.env
/public/css/
/public/js/
/public/fonts/
/public/media/
/public/storage/
/public/.htaccess
/public/htaccess.txt
/packages
/storage/app/
/storage/oauth-private.key
/storage/oauth-public.key
/dist
*/.DS_Store
composer.lock
composer.json
